@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

.darkMode {
  background-color: #344e41;
  color: #f8f9fa;
}

.lightMode {
  background-color: #f8f9fa;
  color: #344e41;
}

:root {
  --toastify-toast-width: 420px;
  --toastify-toast-offset: 65px;
}
